mixin marker(marker)
    div 
        input(class="markerLat", type="hidden", value=`${marker.lat}`)
        input(class="markerLng", type="hidden", value=`${marker.lng}`)
        input(class="markerTitle", type="hidden", value=`${marker.title}`)