extends base
include mixins/story

block content
    if loggedIn
        div.video-grid
            each story in stories
                +story(story)
            else
                li Sorry nothing found
    else
        h2 Please log in.