extends base
include mixins/story

block content
    if loggedInUser.avatarUrl
        img(src="/" + loggedInUser.avatarUrl, width="100", height="100")
    h2 Welcome here you will see the trending stories
    each story in stories
        +story(story)
    else
        li Sorry nothing found