Doctype
html(lang="ko")
    head 
        title #{pageTitle} | hoonap
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        script(src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=d9355f267cb6b45d2ef37bfcfa4f4a02&libraries=services,clusterer,drawing")
    body
        block content
        include partials/footer.pug
    //- script(src="/assets/js/map.js")