extends base.pug

block content
    video(src="/" + story.fileUrl, controls)
    div
        p=story.description
        small=story.createdAt
    a(href=`${story.id}/edit`) Edit Story &rarr;
    br
    a(href=`${story.id}/delete`) Delete Story &rarr;